snippet pro
Promise(${1:(resolve, reject)} => {
  $0
})
endsnippet

snippet log
console.log($0)
endsnippet

snippet llog
console.log('===========================')
console.log($0)
console.log('===========================')
endsnippet

snippet it
it('should ${1}', async () => {
  $0
})
endsnippet
